azure-storage-blob==12.25.1
azure-ai-contentsafety==1.0.0
azure-keyvault-secrets==4.7.0
camelot-py==1.0.0
elevenlabs==2.6.0
emoji==2.14.1
PyMuPDF==1.26.3
langchain_core==0.3.68
langchain_openai==0.3.27
Markdown==3.8.2
opencensus==0.11.4
pandas==2.3.0
pdfkit==1.0.0
pdfminer.six==20250506
Pillow==11.3.0
playwright==1.53.0
PyQt5==5.15.11
python-dotenv==1.1.1
reportlab==4.4.2
requests==2.32.4
streamlit==1.45.1
opencensus-ext-azure==1.1.15
azure-keyvault==4.2.0
python-pptx==1.0.2
azure-cognitiveservices-speech==1.44.0
pyqtwebengine==5.15.7
